header {
	background-color: #228BBE;
	height: 55px;
	/*padding-top: 10px;*/
}

.hbox {
	height: 35px;
	width: 35px;
	background-color: #FFFFFF;
	float: left;
	margin-bottom: 10px;
	margin-left: 15px;
	margin-top: 10px;
<<<<<<< HEAD

}

img {
	width: 100%;
	height: 100%;
=======
>>>>>>> 885664a6d49afebeda2e00a8058952c3910dc0bf
}

.hrec {
	height: 35px;
	width: 200px;
	background-color: #228BBE;
	float: left;
	margin-bottom: 10px;
	margin-left: 15px;
	margin-top: 17px;
}

.home {
	color: white;
	font-family: sans-serif;
	text-decoration: none;
	font-size: 18px;
	font-weight: lighter;
	margin-right: 0px;
	margin-left: 0px;
	margin-top: 1em;
}

.com {
	color: #A6CFE3;
}

.hshade {
	width: 82px;
	background-color: #0070A4;
	float: right;
	height: 40px;
	padding-top: 15px;
	color: white;
	font-size: 14px;
	font-family: sans-serif;
	text-align: center;
<<<<<<< HEAD
	line-height: 30px;
=======
>>>>>>> 885664a6d49afebeda2e00a8058952c3910dc0bf
}
	

.top {
	background-color: #344051;
	padding-top: 155px;
<<<<<<< HEAD
	background-image: url(images/crowd.jpg);
=======
>>>>>>> 885664a6d49afebeda2e00a8058952c3910dc0bf
}

.create {
	color: white;
	font-family: sans-serif;
	font-size: 35px;
	text-align: center;
	margin-left: 55px;
	margin-right: 55px;
}
.wordpress {
	color: white;
	font-family: sans-serif;
	font-size: 17px;
	text-align: center;
	margin-left: 100px;
	margin-right: 100px;
	margin-bottom: 35px;
	font-weight: lighter;
}

.box {
<<<<<<< HEAD
	background-color: rgba(21, 29, 34, 0.4);;
=======
	background-color: #212934;
>>>>>>> 885664a6d49afebeda2e00a8058952c3910dc0bf
	width: 232px;
	padding: 10px;
	margin-right: auto;
	margin-left: auto;
	margin-bottom: 231px
}

.in {
	background-color: #1E8CBE;
	height: 43px;
	width: 230px;
	padding-top: 15px;
}

.website {
	font-family: sans-serif;
	font-size: 23px;
	color: white;
	margin-left: 33px;
	margin-top: 10px;
}

.tiny {
<<<<<<< HEAD
	display: block;
	margin-bottom: 147px;
	color: white;
	text-align: center;
}



.low {
	background-color: transparent;
=======
	background-color: #FFFFFF;
	height: 25px;
	width: 55px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 147px;
}


.low {
	background-color: #344051;
>>>>>>> 885664a6d49afebeda2e00a8058952c3910dc0bf
	height: 75px;
	width: 332px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 33px;
	overflow: hidden;
}

.rlow {
<<<<<<< HEAD
	background-color: transparent;
=======
	background-color: #FFFFFF;
>>>>>>> 885664a6d49afebeda2e00a8058952c3910dc0bf
	width: 52px;
	height: 65px;
	float: left;
	margin-top: 13px;
}

.llow {
<<<<<<< HEAD
	background-color: transparent;
=======
	background-color: #344051;
>>>>>>> 885664a6d49afebeda2e00a8058952c3910dc0bf
	height: 65px;
	width: 263px;
	float: left;
	margin-left: 13px;
}

.large {
	color: white;
	font-size: 20px;
	font-family: sans-serif;
	text-align: left;
	margin-top: 13px;
	margin-bottom: 0;
}

.small {
	color: #DEDBD5;
    font-size: 15px;
    font-family: sans-serif;
    text-align: left;
    margin-top: 4px; 
}

.final {
	margin-bottom: 83px;
}

.center {
	background-color: #E8F0F5;
    height: 178px;
    padding: 10px 0px 40px 0px;
    line-height: 1.4;
}

.easy {
	text-align: center;
	font-size: 28px;
	font-family: sans-serif;
	color: #324157;
	font-weight: lighter;
	line-height: -20px;
}

.mid {
	background-color: #D1D3D7;
	padding-top: 35px;
	padding-bottom: 35px;
}

.six {
	background-color: #FFFFFF;
	width: 481px;
	margin-bottom: 35px;
	margin-left: auto;
	margin-right: auto;
	padding-top: 23px;
	padding-bottom: 41px;
}

.sixtop {
	background-color: #C7D2D8;
	height: 70px;
	width: 68px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 13px;
<<<<<<< HEAD
	border-radius: 50%;
}

.sixtop img {
	width: 50%;
	height: 50%;
	padding-left: 1.1em;
	padding-top: 1em;
=======
>>>>>>> 885664a6d49afebeda2e00a8058952c3910dc0bf
}

.sixmid {
	background-color: #FFFFFF;
	height: 25px;
	width: 447px;
	margin-right: auto;
	margin-left: auto;
	margin-bottom: 19px;
}

.sixtext {
	font-size: 23px;
	color: #4C7A97;
	font-family: sans-serif;
}

.sixtextlow {
	font-size: 17px;
	color: #494748;
	font-family: sans-serif;
	line-height: 1.5;
}

.sixlow {
	background-color: #FFFFFF;
	width: 447px;
	height: 53px;
	margin-right: auto;
	margin-left: auto;
}

.none {
	margin-bottom: 0;
}

.bottom {
	background-color: #E8F0F5;
	padding-top: 22px;
	padding-bottom: 20px;
}

p {
	text-align: center;
	font-size: 12px;
	font-family: sans-serif;
}	

.abc {
	font-family: sans-serif;
	font-size: 25px;
	color: #32364B;
	font-weight: lighter;
	margin-top: 18px;
	text-align: center;
}

.blue {
	background-color: #1E8CBE;
    margin-right: auto;
    margin-left: auto;
    height: 57px;
    width: 228px;
    margin-top: 20px;
    color: white;
    font-size: 25px;
    text-align: center;
    font-family: sans-serif;
<<<<<<< HEAD
    line-height: 57px;
=======
>>>>>>> 885664a6d49afebeda2e00a8058952c3910dc0bf
}


footer {
	background-color: #000000;
	padding-top: 25px;
	padding-bottom: 18px;
}


.last {
	margin-bottom: 23px;
}

a {
	color: white;
	margin-bottom: 25px;
	text-decoration: none;
	margin-left: 10px;
	margin-right: 10px;
}

.lower {
	background-color: #000000;
	height: 27px;
	width: 147px;
	margin-right: auto;
	margin-left: auto;
}